h3 {
  text-align: center;
}

.middle-block {
  width: 300px;
  border: 3px solid black;
  margin-right: 20px;
}

.middle-block ul li {
  list-style-type: none;
}

.middle-block ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

.middle-block-button {
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
